/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.swp
/.lein-*
/.nrepl-port

/.idea/replstate.xml

/.idea/.name
/.idea/compiler.xml
/.idea/copyright/
/.idea/encodings.xml
/.idea/libraries/Leiningen__clojure_complete_0_2_3.xml
/.idea/libraries/Leiningen__org_clojure_clojure_1_6_0.xml
/.idea/libraries/Leiningen__org_clojure_tools_nrepl_0_2_3.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/
/.idea/vcs.xml
/.idea/workspace.xml
/joy_of_clojure.iml
